@model Project.Models.Entities.Book
@using Microsoft.AspNet.Identity;

<div class="col-sm-5 col-md-4">
    <div class="thumbnail">
        <div class="entry">
            <div class="card" style="width: 18rem;">
                @if (Model.ImageData != null)
                {
                    <img src="@Url.Action("GetImage", "Book",
      new { Model.BookId })"
                         class="card-img-center" style="width: 18rem; height: 20rem;">
                }
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description.Substring(0,10) ...</p>
                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("Edit", "Order", new { Model.BookId})" class="btn btn-primary">Заказать</a>
                    }
                    @Html.ActionLink("Подробнее", "Details", new { Model.BookId }, new { @class = "compItem" })
                </div>
            </div>
        </div>
    </div>
</div>